<% provide(:title, 'Music Delights') %>
<div class="center hero-unit">

	<h1>Music Delights</h1>
	<h2>
		This is the home page for the
		Music Delights Web Blog
	</h2>
	
	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>